{% extends "lesFilms/base.html" %}
{% block title %}{{ action_name }} {{ class_name }}{% endblock %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/style_form_realisateur.css' %}" />
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="form-container">
                <form method="post" class="post-form">
                    {% csrf_token %}
                    <h3 class="text-center mb-4">Créer un réalisateur</h3>
                    {{ form.as_p }}
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="force-insertion" name="force-insertion">
                        <label class="form-check-label" for="force-insertion">Forcer l'insertion</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

