.container-form {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px; /* rend les coins du conteneur légèrement arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* ombre légère autour du conteneur */
}

.post-form h3 {
    color: #333;
    margin-bottom: 30px;
    font-weight: 500;
}
body {
    background-color: #f0f0f0; /* Couleur d'arrière-plan gris pour tout le body */
}

.form-container {
    background-color: #f8f9fa; /* gris léger pour l'arrière-plan du formulaire */
    padding: 20px;
    border-radius: 5px; /* rend les coins du conteneur légèrement arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* ombre légère autour du conteneur */
}

.open-createModal {
    display: inline-block;
    margin: 15px 0;
    padding: 5px 10px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.open-createModal:hover {
    background-color: #007bff;
    color: #fff;
}

.modal-content {
    border-radius: 10px;
}

.modal-body .form-group {
    margin-bottom: 15px;
}

.btn {
    margin-right: 10px;
}

.btn-close {
    background-color: transparent;
    border: none;
}

.form-group.row > label {
    text-align: right;
}

.modal-footer {
    justify-content: space-between;
}
#form-create-film input[type="text"],
#form-create-film input[type="email"],
#form-create-film input[type="password"],
#form-create-film textarea,
#form-create-film select {
    width: 100%;
}


#form-create-film label {
    font-size: larger; 
}

.title-center-bold {
    text-align: center;
    font-weight: bold;
}
