{% extends "lesFilms/base.html" %}
{% block title %}{{ action_name }} {{ class_name }}{% endblock %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/style_form_film.css' %}" />
{% endblock %}

{% block content %}
<form method="post" class="post-form">
    {% csrf_token %}
    <div class="container container-form">
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>{{ action_description }} {{ class_name }}</h3>
            </div>
        </div>
        {{ form.as_p }}
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <input id="force-insertion" name="force-insertion" type="checkbox">
                <label for="force-insertion">Forcer l'insertion</label>
                <button type="submit" class="btn btn-success">Valider</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
