{% extends "lesFilms/base.html" %}
{% block title %}Création Film{% endblock %}
{% block content %}
<form method="POST" class="post-form" action="{% url 'film_add' %}">
  {% csrf_token %}
  <div class="container">
    <br />
    <div class="form-group row">
      <label class="col-sm-1 col-form-label"></label>
      <div class="col-sm-4">
        <h3>Entrez les informations du film</h3>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Film titre:</label>
      <div class="col-sm-4">{{ form.titre }}</div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Film réalisateur:</label>
      <div class="col-sm-4">{{ form.realisateur }}</div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Film description:</label>
      <div class="col-sm-4">{{ form.description }}</div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Film date de création:</label>
      <div class="col-sm-4">{{ form.date_creation }}</div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label"></label>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Valider</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
