{% extends "lesFilms/base.html" %}
{% block title %}{{ action_name }} {{class_name }}{% endblock %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/style_form_film.css' %}" />
{% endblock %}

{% block content %}
<div class="container py-1 form-container">
  <form method="post" class="post-form" id="form-create-film">
    {% csrf_token %}
    <div class="mb-3">
      <h3 class="title-center-bold">Créer un film</h3>
    </div>
    {{ form.as_p }}
    <div class="mb-3">
      <button id="submit-form-film" type="submit" class="btn btn-primary" hidden>Valider</button>
      <button type="button" class="btn btn-primary" onclick="addActeur()">Ajouter Acteur</button>
    </div>

    <div id="Création acteur" hidden>
      {{ acteur_form }}
      <div id="acteurs_similaire" class="mb-3">
        <span id="erreurMessage" class="text-danger"></span>
      </div>
      <div class="mb-3 form-check">
        <input id="force-insertion-acteur" type="checkbox" class="form-check-input">
        <label class="form-check-label" for="force-insertion-acteur">Forcer l'insertion</label>
      </div>
      <button type="button" class="btn btn-primary" onclick="createActeur()">Créer Acteur</button>
      <button type="button" class="btn btn-danger" onclick="resetCreateActeur()">Annuler</button>
    </div>

    <div class="mb-3 form-check">
      <input id="force-insertion-film-real" name="force-insertion-film-real" type="checkbox" class="form-check-input">
      <label class="form-check-label" for="force-insertion-film-real">Forcer l'insertion</label>
    </div>
    <button type="button" class="btn btn-success" onclick="validateFomulaireCreateFilm()">Valider</button>
  </form>
</div>




<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("id_nom").required = false
    document.getElementById("id_prenom").required = false
    document.getElementById("force-insertion-acteur").checked = false
    $('#id_acteurs').select2({
        placeholder: "Sélectionnez une option", // texte à afficher par défaut
        allowClear: true, // permet de supprimer la sélection
        width: 'resolve' // ajuster la largeur du sélecteur
    });
  });
  
  function addActeur(){
    const divActeur = document.getElementById("Création acteur");
    divActeur.hidden = false;
  }

  function createActeur(){
    const acteurInputNom = document.getElementById("id_nom");
    const acteurInputPrenom = document.getElementById("id_prenom");
    if(acteurInputNom.checkValidity() && acteurInputPrenom.checkValidity()){
      const formData = new FormData();
      formData.append("nom", acteurInputNom.value);
      formData.append("prenom", acteurInputPrenom.value);
      let force = document.getElementById("force-insertion-acteur").checked;
      formData.append("force", force);

      fetch("{% url 'create_acteur_in_film' %}", {
        method: "POST",
        headers: {
          "X-CSRFToken": getCookie("csrftoken"),
        },
        body: formData,
      })
        .then((response) => response.json())
        .then((data) => {
          if(data["cree"]){
            ajouterOptionActeurToSelect(data);
          }
          else{
            afficherActeursSimilaire(data);
          }
          
        });
    }
  }
  
  function getCookie(name) {
    let value = "; " + document.cookie;
    let parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
  }

  function resetCreateActeur(){
    document.getElementById("erreurMessage").innerHTML = "";
    document.getElementById("force-insertion-acteur").checked = false
    const acteurInputNom = document.getElementById("id_nom");
    const acteurInputPrenom = document.getElementById("id_prenom");
    acteurInputNom.value ="";
    acteurInputPrenom.value ="";
    const divActeur = document.getElementById("Création acteur");
    divActeur.hidden = true;
    $("#select-acteurs-similaire").html("");
    $("#select-acteurs-similaire").hide()
  }


  function validateFomulaireCreateFilm(){
    document.getElementById('submit-form-film').click()
  }

  function ajouterOptionActeurToSelect(data){
    const newOption = new Option(data.name, data.id, true, true);
    const acteursSelect = document.querySelector('select[name="acteurs"]');
    acteursSelect.append(newOption);
    resetCreateActeur();
  }

  function afficherActeursSimilaire(data){
    document.getElementById("erreurMessage").innerHTML = "Il y a un ou plusieurs acteurs similaire en voici la liste"
    const divActeursSimilaire = document.getElementById("acteurs_similaire");
    const acteurs_proches = data["liste_acteurs"];
    let select;
    if (!document.getElementById('select-acteurs-similaire')){
      select = document.createElement('select');
      select.id = 'select-acteurs-similaire';
      select.name = 'select-acteurs-similaire';
      divActeursSimilaire.appendChild(select);

    }
    else{
      select = document.getElementById('select-acteurs-similaire');
    }
    $("#select-acteurs-similaire").show()

    select.innerHTML = "";
    for (var i = 0; i < acteurs_proches.length; i++) {
      option = document.createElement('option');
      option.value = acteurs_proches[i];
      option.textContent = acteurs_proches[i]
      select.appendChild(option);
    }
  }
</script>
{% endblock %}
