{% extends "lesFilms/base.html" %}
{% block title %}
{{ action_name }} {{class_name }}{% endblock %} 
{% block content %}
<form method="post" class="post-form">
  {% csrf_token %}
  <div class="container">
    <br />
    <div class="form-group row">
      <label class="col-sm-1 col-form-label"></label>
      <div class="col-sm-4">
        <h3>{{ action_description }} {{ class_name }}</h3>
      </div>
    </div>
    {{ form.as_p }}
    <div id="realisateurForm" style="display: none">
      <h3>Création d'un réalisateur</h3>
        {{ realisateur_form.as_p }}
        <button type="button" id="realisateurFormSubmit">Valider</button>
    </div>


    <div class="form-group row">
      <label class="col-sm-1 col-form-label"></label>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-success">Valider</button>
      </div>
    </div>
  </div>
</form>
<div id="modalid"class="modal {% if not show_modal %}d-none{% endif %}" tabindex="-1">

  <div class="modal-dialog">

      <div class="modal-content">

          <div class="modal-header">

              <h5 class="modal-title">Confirmation</h5>

              <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">

                  <span aria-hidden="true">&times;</span>

              </button>

          </div>

          <div class="modal-body">

              <p>Les titres suivants sont similaires:</p>

              <ul>

                  {% for titre in form.titres_similaires %}

                  <li>{{ titre }}</li>

                  {% endfor %}

              </ul>

              <p>Êtes-vous sûr de vouloir créer ce film?</p>

          </div>

          <div class="modal-footer">

              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>

              <a href="{% url 'film_add' %}" class="btn btn-primary">Confirmer la création</a>

          </div>

      </div>

  </div>

</div>



<script>
  document.addEventListener("DOMContentLoaded", function () { 

    const realisateurSelect = document.querySelector(
      'select[name="realisateur"]'
    );
    const realisateurFormDiv = document.getElementById("realisateurForm");
    const realisateurFormSubmitBtn = document.getElementById(
      "realisateurFormSubmit"
    );
    const nomInput = document.getElementById("id_nom");
    const prenomInput = document.getElementById("id_prenom");

    realisateurSelect.addEventListener("change", function () {
      if (this.value == "create") {
        realisateurFormDiv.style.display = "block";
        nomInput.required = true;
        prenomInput.required = true;
      } else {
        realisateurFormDiv.style.display = "none";
        nomInput.required = false;
        prenomInput.required = false;
      }
    });

    realisateurSelect.dispatchEvent(new Event("change"));

    realisateurFormSubmitBtn.addEventListener("click", function (e) {
      e.preventDefault();
      const formData = new FormData();
      if(nomInput.checkValidity() && prenomInput.checkValidity())
      formData.append("nom", document.getElementById("id_nom").value);
      formData.append("prenom", document.getElementById("id_prenom").value);
      fetch("{% url 'create_realisateur_in_film' %}", {
        method: "POST",
        headers: {
          "X-CSRFToken": getCookie("csrftoken"),
        },
        body: formData,
      })
        .then((response) => response.json())
        .then((data) => {
          const newOption = new Option(data.name, data.id, true, true);
          realisateurSelect.append(newOption);
          realisateurFormDiv.style.display = "none";
        });
    });
    if ("{{show_modal}}") {
      $('#modalid').modal('show');
    };
  });

  function getCookie(name) {
    let value = "; " + document.cookie;
    let parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
  }
</script>
{% endblock %}
